[Unit]
Description=t0rn-faucet-api
After=network.target
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=simple
Restart=on-failure
RestartSec=10s
ExecStartPre=npm ci --prefix /home/atlas/rococo/t0rn-faucet-api
ExecStart=npm start --prefix /home/atlas/rococo/t0rn-faucet-api

[Install]
WantedBy=multi-user.target